.ks-button {
  color: #000;
  font-weight: bold;
  border: 2px solid #000;
  border-radius: 9999px;
  transition: opacity 0.3s;
}

.ks-button-primary {
  color: #fff;
  background: #41B06E;
  border-color: #41B06E;
}

.ks-button-disable {
  cursor: not-allowed;
  color: #fff;
  background: #9d9999;
  border-color: #9d9999;
}
